*{
	margin: 0px;
	padding: 0px;
}

body, html {
	padding: 0px;
	margin: 0px;
	font-family: "Helvetica";
	font-size: 12pt;
	color: white;
	height: 100%;
	width: 100%;
}

body {
	background-color: black;
}

h1 {
	padding-top: 15px;
	text-align: center;
}

h2 {
	text-align: center;
}

ul {
	text-align: center;
	/*display: inline-block;*/
}

li {
	border-color: white;
	padding-top: 30px;
	/*padding-left: 7.5px;*/
	padding-right: 75px;
	display: inline-block;
	width: 5%;
	height: 10%;
}

li p{
	width: 100%;
}

#header-text {
	text-align: center;
}

#about {
	text-align: center;
}

#reset {
	padding-left: 50%;
}

#credits {
	text-align: center;
	padding-top: 35px;
}

#simulation {
	padding-top: 30px;
	text-align: center;
}

#injury-report {
	padding-top: 30px;
	text-align: center;
}

#box-score {
	padding-top: 30px;
	text-align: center;
}

td {
	color: white;
	padding-right: 50px;
	text-align: center;
}

#bio {
	text-align: center;
	padding-left: 25%;
	padding-right: 25%;
	padding-top: 35px;
}

#back {
	text-align: center;
	padding-left: 25%;
	padding-right: 25%;
	padding-top: 35px;
}

#victor {
	height: 25%;
	width: 12.5%;
	padding-left: 35%;
	padding-right: 12.5%;
}

input:hover{
	background: red;
	color: white;
}

#flames:hover, #hurricanes:hover, #blackhawks:hover, #redwings:hover, #panthers:hover, #canadiens:hover, #devils:hover, #senators:hover, #capitals:hover {
	background: red;
}

#ducks:hover{
	background: #F47A38;
}

#coyotes:hover, #avalanche:hover {
	background: maroon;
}

#bruins:hover, #penguins:hover, #predators:hover {
	background: gold;
}

#sabres:hover, #bluejackets:hover, #mapleleafs:hover, #blues:hover, #jets:hover, #lightning:hover, #islanders:hover {
	background: darkblue;
}

#rangers:hover {
	background: blue;
}

#stars:hover{
	background: #006847;
}

#oilers:hover, #flyers:hover {
	background: #fa4616;
}

#kings:hover {
	background: silver;
}

#sharks:hover {
	background: teal;
}

#kraken:hover {
	background: #99D9D9;
}

#canucks:hover {
	background: #00843d;
}

#goldenknights:hover {
	background: #333f42;
}

#wild:hover {
	background: forestgreen;
}

img
{
	height: 100%;
	width: 100%;
	display: block;
  margin-left: 10%;
  margin-right: 10%;
}

textarea {
	height: 120px;
	width: 150px;
}

#music {
	text-align: right;
	background: rgb(0,0,0);
	background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(30,144,255,1) 100%);
}
